:root{
    --margin: 0 auto;
    --border:1px solid #3787FE;
    --first-color:#1E2939;
    --second-color:white;
    --first-font: 'Montserrat', sans-serif;
    --second-font: 'Nunito', sans-serif;
}
body{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background-color: var(--second-color);
   }
h1{
    font-size: 50px;
    margin: var(--margin);
    color: var(--second-color);
    font-family: var(--first-font);
   }
h2,h4{
    margin: var(--margin); 
    color: var(--second-color);  
    font-family: var(--second-font);
    }
   
h5{
    margin: var(--margin); 
    color:  var(--first-color);  
    font-weight: bolder;
    font-family: var(--second-font);
    margin-bottom: 20px;
    }
   
p{
    opacity: 0.5;
    font-size: 16px;
    line-height: 25px;  
    }

footer{
    background-color: var(--first-color);
    text-align: center;
    font-size: larger;
    line-height: 2.5;
    }
.top{
    background-color: var(--first-color);
    width: 100%;
    font-family: var(--first-font);
    margin-bottom: 20px;
   }
.home{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 30px;
   } 
.content-container {
    padding: 50px 20px;
    background-color: var(--second-color);
    } 
.work-app{
    background-color: #dadada;
    text-align: center;
    margin: 0px 157px 30px 157px;
    padding: 10px 20px;
    border-radius: 7px;
    }      
.content{
    margin: 30px;
    }
.content-app{
        margin: 90px 157px;
    }
.work-get{
        margin-top: 35px;
    }

.home h4{
    opacity: 0.5;
    }    
.content h1{
    font-family: var(--first-font);
    color: var(--first-color);
    font-size: 55px;
    line-height: 60px;
    }
.content h2{
    color: var(--first-color);
    font-size: 35px;
    font-family: var(--second-font);
    }
.content h3{
        margin: 20px 0 0;
        font-size: 34px;
        line-height: 1.5;
        font-family: var(--second-font);
    }
.content p{
    font-size: 18px;
    font-family: var(--second-font);
    margin: 0;
    padding: 0;
    }   
.content-app h1{
        color: var(--first-color);
        font-family: var(--first-font);
font-weight: 700;
font-size: 64px;
line-height: 85px;
    }

  
.link{
    display: flex;
    justify-content:center;
    }
.links{
    border: var(--border);
    box-shadow: 4px 2px 2px skyblue;
    color:#3787FE;
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
    border-radius: 7px;
    margin-bottom: 40px;
    cursor: pointer;
   }
.projects-get{
    border: 1px solid #45464A;
    box-shadow: 4px 2px 2px #8f9095;
    color: #45464A;
    border-radius: 7px;
    background-color: var(--second-color);
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    font-family: var(--second-font);
    line-height: 27px;
    }

.links:visited{
    color:#3787FE;
    }
.links:hover{
    color: var(--second-color);
    background-color: #3787FE;
    text-decoration: none;
    }  
.projects-get:hover{
    color: var(--second-color);
    background-color: var(--first-color);
    text-decoration: none;
    }    
.foto{
    border-radius: 7px;
    width: 500px;
    }    
.section{
    display: flex;
    justify-content:space-around;
    margin: var(--margin);
    width: 850px;
    padding-bottom: 25px;
    }
.text{
    font-family: var(--second-font);
    background-color: var(--first-color);
    color: var(--second-color);
    padding: 15px;
    text-align:justify;
    width: 90%;
    height: auto;
   }
.mail{
    margin: 0 auto;
    padding-top: 40px;
    color: var(--second-color);
    font-family: var(--first-font);
   }
.container{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
   }
.bottom-img{
    background-color:var(--second-color);
    width: 35px;
    border-radius: 50%;
    border:1px solid #1E2939;
  } 
.img-project{
    width: 500px;
    height: 300px;
    border: 1px solid #DADADA;
    box-shadow: 4px 2px 2px #DADADA;
    border-radius: 7px;
    }
 @media(max-width:850px){
        .image{
            display: none;
        }
        .text h2{
            color: var(--first-color);
            font-size: 40px;
        }
        h5{
            font-weight:200;
            text-align: center;
        }
        .content-container {
            text-align: center;
            padding: 0;
            font-size:10px;
        }
        .text{
            background-color: var(--second-color);
             color: var(--first-color);
        }
        .mail{
            font-size: smaller;
        }
        .contact{
            width: 20px;
           margin:0 15px;
           padding:0;

        }
        .work-app{
            text-align: center;
            font-size: 10px;
            padding-bottom: 40px;
            margin: 50px 66px 52px 69px;
        }
        .work-app h1{
            font-size: 40px;
        }
        .work-app p{
            font-size: 15px;
        }
        .content-app{
            font-size: 45px;
            margin: 0 auto;
            text-align: center;
        }
        
    }
