:root{
    --margin: 0 auto;
    --border:1px solid #3787FE;
}
body{
    background-color: white;
}
h1{
    font-size: 50px;
    margin: var(--margin);
    color: white;
    font-family: 'Montserrat', sans-serif;
   }
h2,h4{
    margin: var(--margin); 
    color: white;  
    font-family: 'Nunito', sans-serif;
    }
    h5{
        margin: var(--margin); 
        color:  #1E2939;  
        font-weight: bolder;
        font-family: 'Nunito', sans-serif; 
        margin-bottom: 20px;
    }
    img{
    border-radius: 7px;
    }
    footer{
        background-color: #1E2939;
        text-align: center;
        font-size: larger;
        line-height: 2.5;
    }

  .top{
    background-color: #1E2939;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
   }
  
  .home{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 30px;
   }
  .link{
    display: flex;
    justify-content:center;
    }
 .links{
    border: var(--border);
    box-shadow: 4px 2px 2px skyblue;
    color:#3787FE;
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
    border-radius: 7px;
    margin-bottom: 40px;
    cursor: pointer;
   }
.links:visited{
    color:#3787FE;
    }
.links:hover{
    color: white;
    background-color: #3787FE;
    text-decoration: none;
    }
    
.section{
    display: flex;
    justify-content:space-around;
    margin: var(--margin);
    width: 850px;
    padding-bottom: 25px;
    }
  
.text{
    font-family: 'Nunito', sans-serif; 
    background-color: #1E2939;
    color: white;
    padding: 15px;
    text-align:justify;
    width: 100%;
    height: auto;
   }
   .mail{
    margin: 0 auto;
    padding-top: 40px;
    color: white;
    font-family: 'Montserrat', sans-serif;
   }
   .container{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
   }

   .bottom-img{
    background-color:white;
    width: 25px;
   }

 @media(max-width:850px){
        .image{
            display: none;
        }
        h5{
            font-weight:200;
            text-align: center;
        }
        .text{
            background-color: white;
             color: #1E2939;
        }
        .mail{
            font-size: smaller;
        }
        .contact{
            width: 20px;
           margin:0 10px;
           padding:0;

        }
    }
